.dishonored {
    .track {
        display: flex;
        flex-direction: row;
        .bar {
            width: 100%;
            display: flex;
            flex-direction: row;
            .box {
                height: 14px;
                outline: 1px solid #191919;
                margin-left: 1px;
                padding: 0px;
                display: block;
                font-size: 8pt;
                text-align: center;
                background: rgb(255, 255, 255, 0.8);

                &.selected {
                    background: #191813;
                    color: #ffffff;
                }

                &:hover {
                    box-shadow: 0 0 8px red;
                    cursor: pointer;
                }
            }
        }
    }

    &.tracker {
        position: absolute;
        &.panel {
            right: 304px;
            bottom: 5px;
            -webkit-transition: right 0.5s linear;
            -moz-transition: right 0.5s linear;
            -ms-transition: right 0.5s linear;
            -o-transition: right 0.5s linear;
            transition: right 0.5s linear;
            &.tracker-collapsed {
                right: 0px;
                -webkit-transition: right 0.5s linear;
                -moz-transition: right 0.5s linear;
                -ms-transition: right 0.5s linear;
                -o-transition: right 0.5s linear;
                transition: right 0.5s linear;
            }
        }
        &.button {
            cursor: pointer;
            &:hover {
                text-shadow: 0 0 6px red;
            }
        }
        &.chaos {
            &.number {
                border-radius: 70px;
                width: 70px;
                height: 69px;
                bottom: 63px;
                text-align: center;
                right: 56px;
                font-size: 45px;
                z-index: 1;
                border: none;
                color: black;
                font-family: "EB Garamond";
                font-weight: bold;
                text-shadow:
                    -1px 0 white,
                    0 1px white,
                    1px 0 white,
                    0 -1px white;
            }
            &.increase {
                bottom: 108px;
                right: 11.5px;
                font-size: 24px;
                z-index: 1;
                text-shadow:
                    -1px 0 white,
                    0 1px white,
                    1px 0 white,
                    0 -1px white;
            }
            &.decrease {
                bottom: 79px;
                right: 9px;
                font-size: 20px;
                z-index: 1;
                text-shadow:
                    -1px 0 white,
                    0 1px white,
                    1px 0 white,
                    0 -1px white;
            }
            &.header {
                right: 25px;
                bottom: 0px;
                color: #ffffff;
                z-index: 1;
            }
        }
        &.momentum {
            &.header {
                bottom: 25px;
                right: 280px;
                z-index: 1;
                text-shadow:
                    -1px 0 white,
                    0 1px white,
                    1px 0 white,
                    0 -1px white;
            }
            &.track {
                position: relative;
                &.item {
                    &.track-1 {
                        left: 42px;
                    }
                    &.track-2 {
                        left: calc(42px + 83px);
                    }
                    &.track-3 {
                        left: calc(42px + 83px + 83px);
                    }
                    &.track-4 {
                        left: calc(42px + 83px + 83px + 83px);
                    }
                    &.track-5 {
                        left: calc(42px + 83px + 83px + 83px + 83px);
                    }
                    &.track-6 {
                        left: calc(42px + 83px + 83px + 83px + 83px + 83px);
                    }
                    &.background {
                        position: absolute;
                        bottom: 8px;
                        pointer-events: none;
                        text-shadow:
                            -1px 0 white,
                            0 1px white,
                            1px 0 white,
                            0 -1px white;
                        &.svg {
                            &:not(.disable):hover {
                                filter: drop-shadow(0 0 6px red);
                            }
                        }
                        &.slot {
                            pointer-events: auto;
                            stroke: white;
                            stroke-width: 2px;
                            fill: transparent;
                            z-index: 5;
                            cursor: pointer;
                        }
                    }
                    &.foreground {
                        position: absolute;
                        width: 83px;
                        display: inline;
                        text-align: center;
                        bottom: 8px;
                        z-index: 1;
                        font-size: 20px;
                        line-height: 20px;
                        font-weight: bold;
                        cursor: pointer;
                        text-shadow:
                            -1px 0 white,
                            0 1px white,
                            1px 0 white,
                            0 -1px white;
                        &:not(.disable):hover {
                            filter: drop-shadow(0 0 6px red);
                        }
                    }
                }
            }
        }
        &.header {
            font-weight: bold;
            text-align: center;
            font-size: 2em;
            text-transform: uppercase;
        }
    }
}
